---
layout: default
title: Berlin 2016
permalink: /events/berlin2016/
event_date: 2016-12-13
event_date_string: December 13th-15th 2016
event_location: Berlin, Germany
event_summary: Three day follow-up workshop to Athens 2015 to continue and grow the reproducible builds effort.
---

<h1>{{ page.title }}</h1>

<p>{{ page.event_date_string }}.</p>
<p>{{ page.event_summary }}</p>
<p>As a follow up to the first reproducible builds workshop in
  <a href="{{ "/events/athens2015/" | relative_url }}">Athens 2015</a>,
  the reproducible builds folks will meet again in Berlin.
</p>

<h2>Goals</h2>

<p>
  The exact content of the meeting will be shaped by the participants, but
  here are the main goals:
</p>
<ul>
  <li>Update &amp; exchange about the status of reproducible builds in various projects.</li>
  <li>Improve collaboration both between and inside projects.</li>
  <li>Expand the scope and reach of reproducible builds to more projects.</li>
  <li>Work together and hack on solutions.</li>
  <li>Brainstorm designs on tools enabling end-users to get the most benefits from reproducible builds.</li>
</ul>

<h2>Participants</h2>

<p>
  Arch Linux, Bazel, coreboot, Debian, Fedora, FreeBSD, GNU&nbsp;Guix, LEDE, MacPorts, NetBSD, NixOS, openSUSE, OpenWrt, Qubes OS, repeatr.io, Software Freedom Conservancy, Tails, Tor and Ubuntu.
  <br />
</p>
<img style="margin-top: 10px; vertical-align: top;" src="{{ "/images/groupphoto_rws2_berlin_2016_small.png" | relative_url }}" alt="Reproducible Summit 2 in Berlin 2016" />


<h2>Reports</h2>

<p>
  <ul>A number of reports have been published:
    <li><a href="{{ "/events/berlin2016/agenda/" | relative_url }}">Meeting agenda and complete minutes</a></li>
    <li><a href="/files/ReproducibleBuildsSummitIIReport.pdf">Report by Aspiration</a></li>

    <li>by <a href="https://gnu.org/software/guix/news/reproducible-build-summit-2nd-edition.html">Ludovic Courtès, John Darrington and Ricardo Wurmus from the GNU&nbsp;Guix project</a></li>
    <li>by <a href="https://garbas.si/2016/reproducible-builds-summit-in-berlin.html">Rok Garbas of NixOS</a></li>
    <li>by <a href="https://lists.macports.org/pipermail/macports-dev/2016-December/035052.html">Clemens Lang of MacPorts</a></li>
    <li>by <a href="https://sfconservancy.org/blog/2016/dec/26/reproducible-builds-summit-report">Brett Smith of Software Freedom Conservancy</a></li>
  </ul>
</p>

<h2>Location</h2>

<p>
  <a href="http://meow.berlin/r/saeaelchen">Säälchen</a> im <a href="http://www.holzmarkt.com/">Holzmarkt Berlin</a><br />
  <a href="https://www.google.de/maps/place/Holzmarktstra%C3%9Fe+25,+10243+Berlin/@52.5127567,13.4221966,17z">Holzmarktstraße 25</a><br />
  10243 Berlin, Germany
</p>

<h3>Co-organized by</h3>

<a href="https://aspirationtech.org/"><img src="{{ "/images/logos/aspirationtech.jpg" | relative_url }}" alt="Aspiration" style="margin: 20px;"/></a>
&amp;
<a href="mailto:holger@layer-acht.org">Holger</a>

<h2>Sponsors</h2>

<p>
  <a href="https://www.coreinfrastructure.org/"><img style="vertical-align: top;" src="{{ "/images/logos/cii.png" | relative_url }}" alt="Core Infrastructure Initiative" /></a>
  <br />
  <a href="https://research.google.com/"><img style="margin-top: 10px; vertical-align: top;" src="{{ "/images/logos/google.png" | relative_url }}" alt="Google Open Source Research" /></a>
  <br />
  <a href="https://opentech.fund/"><img style="margin: 0px 14px; vertical-align: top;" src="{{ "/images/logos/opentechfund.png" | relative_url }}" alt="Open Technology Fund"/></a>
  <br />
  <a href="https://www.debian.org/"><img style="margin: 0px 14px; vertical-align: top;" src="{{ "/images/logos/debian.png" | relative_url }}" alt="Debian" width="100"/></a>
</p>
