<script src="{{ "/assets/javascript/modernizr.min.js" | relative_url }}"></script>
<script src="{{ "/assets/javascript/jquery-3.3.1.slim.min.js" | relative_url }}"></script>
<script src="{{ "/assets/javascript/popper.min.js" | relative_url }}"></script>
<script src="{{ "/assets/javascript/bootstrap.min.js" | relative_url }}"></script>
<!-- <script src="{{ "/assets/javascript/run_prettify.js" | relative_url }}"></script> /* -->
<script type="text/javascript" src="{{ "/assets/javascript/index.js" | relative_url }}"></script>
